



header{
    width: 100%;
    height: 38px;
    background-color:  #313131;
    display: flex;
    align-items: center;
        .nav-menu{
            display: flex;
            width: 81.42%;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            .menu-link{
                display: flex;
                width: 23%;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color:  #FFFFFF;
                        font-size: 14px;
                        line-height: 16px;
                        @include adaptiv-font(14,10);
                    }
                }
            }
        }
    .telephone-delivery{
        display: flex;
        width: 33%;
        justify-content: space-between;
        align-items: center;
        .phone{
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                text-decoration: none;
                color:  #FFFFFF;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                line-height: 16px;
                @include adaptiv-font(14,10);
                img{
                   
                    justify-content: center;
                    align-items: center;
                    padding-right: 11px;
                }
            }
        }
        .delivery{
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                text-decoration: none;
                color:  #FFFFFF;
                line-height: 16px;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                @include adaptiv-font(14,10);
                img{
                    padding-right: 11px;
                    height: auto;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

